<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Page</title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="/save-notes" method="post">
        <div>
            <label for="">Project ID</label>
            <input type="number" name="projectId">
        </div>
        <div>
            <label for="note">Note</label>
            <textarea rows="5" cols="30" name="note">
        
            </textarea>
        </div>
        <div>
            <label for="date">Active Date</label>
            <input type="text" name="date">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>